* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav {
  background-color: rgb(255, 174, 93);
}

nav > p:hover {
  cursor: pointer;
}
